/* Font Style Start */
@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sahel;
}

:root {
    --main: #102197;
    --main--text: #f5eaf0;
    --text: #050608;
    --background: #eb6741;
}

/* change the bootstrap class "container" */
.container {
    max-width: 90%;
    margin-inline: auto;
}

/* navbar button */

.btn_nav {
    color: var(--main--text);
    background-color: var(--background);
    border: none;
    font-weight: 600;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.btn_nav:hover {
    background-color: var(--main);
    color: var(--main--text);
}

/* Nav Item */
.nav_items {
    font-weight: 600;
}

.nav_items a {
    margin-inline: 12px;
}


.top_section {
    background-color: var(--main);
    color: var(--main--text);
    border-radius: 20px;
    direction: rtl;
}

.navbar .nav-item .nav-link {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}


.navbar .nav-item .nav-link::before {
    background-color: var(--main);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover:before {
    transform: scale(1);
}

/* Top Section Icons */
.effect {
    position: absolute;
    z-index: 1;
}

.effect-1 {
    left: 20%;
    top: 25%;
    font-size: 40px;
    color: var(--background);
    animation: circle-down 7s linear infinite;
}

.effect-2 {
    right: 50%;
    top: 30%;
    font-size: 50px;
    color: var(--background);
    animation: circle-down 8s linear infinite;
}

.effect-3 {
    right: 85%;
    top: 70%;
    font-size: 90px;
    color: var(--background);
    animation: circle-down-move 6s ease-in-out infinite alternate;
}

#circle-down {
    animation: circle-down 9s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes circle-down {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}



@keyframes circle-down-move {
    from {
        transform: translate(0) rotatez(0deg);
    }

    to {
        transform: translate(0px, -200px) rotatez(360deg);
    }
}


/* Our Service */

.our_service #top-title {
    color: var(--background);
    font-weight: 600;
}

.our_service #title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.service_detail {
    padding: 25px;
    transition: all 0.5S ease-in-out;
}

.service_detail p,
h4 {
    font-weight: 600;
}

.service_detail:hover {
    padding: 50px;
    background-color: #14141413;
    border-radius: 15px;
    box-shadow: 0px 0px 56px 1px rgba(0,0,0,0.2);
    transition: all 0.5S ease-in-out;
}