/* Font Style */
@font-face {
    font-family: "IRANYekanMedium";
    src: url(../Fonts/IRANYekanMedium.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANYekanMedium;
}

:root {
    --main: #102197;
    --main--text: #f5eaf0;
    --text: #050608;
    --background: #eb6741;
    --background-2: #005ed0;
    --background-light: #efefef;
}

body {
    overflow-x: hidden;
}

/* change the bootstrap class "container" */
.container {
    max-width: 90%;
    margin-inline: auto;
}

/* navbar button */

.btn_nav {
    color: var(--main--text);
    background-color: var(--background);
    border: none;
    font-weight: 600;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.btn_nav:hover {
    background-color: var(--main);
    color: var(--main--text);
}

/* Nav Item */
.nav_items {
    font-weight: 600;
}

.nav_items a {
    margin-inline: 12px;
}


.top_section {
    background-color: var(--main);
    color: var(--main--text);
    border-radius: 20px;
    direction: rtl;
}

.navbar .nav-item .nav-link {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}


.navbar .nav-item .nav-link::before {
    background-color: var(--main);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover:before {
    transform: scale(1);
}

/* Top Section Icons */
.effect {
    position: absolute;
    z-index: 1;
}

.effect-1 {
    left: 20%;
    top: 25%;
    font-size: 40px;
    color: var(--background);
    animation: circle-down 7s linear infinite;
}

.effect-2 {
    right: 50%;
    top: 30%;
    font-size: 50px;
    color: var(--background);
    animation: circle-down 8s linear infinite;
}

.effect-3 {
    right: 85%;
    top: 70%;
    font-size: 70px;
    color: var(--background);
    animation: circle-down-move 6s ease-in-out infinite alternate;
}

#circle-down {
    animation: circle-down 9s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes circle-down {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}



@keyframes circle-down-move {
    from {
        transform: translate(0) rotatez(0deg);
    }

    to {
        transform: translate(0px, -200px) rotatez(360deg);
    }
}


/* Our Service */

.service_detail {
    padding: 25px;
    transition: all 0.5S ease-in-out;
}

.service_detail h4 {
    font-weight: 600;
}

.service_detail:hover {
    padding: 50px;
    background-color: #14141413;
    border-radius: 15px;
    box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5S ease-in-out;
}


/* Roadmap Section */

.roadmap_section {
    position: relative;
}

.top_title {
    color: var(--background);
    font-weight: 600;
}

.title {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
}

.roadmap_section h2 {
    font-size: 27px;
    font-weight: 600;
}

.roadmap_section button {
    margin-inline: 10px;
}

.roadmap_section #shape_1 {
    position: absolute;
    width: 20%;
    top: 40%;
    left: 0;
    z-index: -1;
    animation: shape_1 15s ease-in-out infinite alternate;
}

.roadmap_section .shape_2 {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    z-index: -1;
    animation: shape_2 9s ease-in-out infinite alternate;
}

@keyframes shape_1 {
    from {
        transform: rotatez(0deg) scale(1);
    }

    to {
        transform: rotatez(180deg) scale(1.5);
    }
}

@keyframes shape_2 {
    from {
        transform: translate(0) rotatez(0deg) scale(1);
    }

    to {
        transform: translate(0px, -200px) rotatez(180deg) scale(1.5);
    }
}


.roadmap_section #contact_btn {
    color: var(--main--text);
    background-color: var(--main);
    font-weight: 600;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.roadmap_section #contact_btn:hover {
    background-color: var(--background-2);
    color: var(--main--text);
}

.roadmap_section #portfolio_btn {
    color: var(--main--text);
    background-color: var(--background);
    border: none;
    font-weight: 600;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.roadmap_section #portfolio_btn:hover {
    background-color: var(--main);
    color: var(--main--text);
}


/* Contract Section */

.contract button {
    color: var(--main--text);
    background-color: var(--main);
    font-weight: 600;
    border: none;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.contract button:hover {
    background-color: var(--background-2);
    color: var(--main--text);
}

/* Price Plan */
.price_plan {
    position: relative;
    overflow: hidden;
    background-color: var(--background-light);
    color: var(--text);
    padding: 60px 90px;
    margin-inline: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.3);
}

.price_plan_active {
    background: linear-gradient(157deg, rgba(0, 61, 178, 1) 10%, rgba(1, 101, 213, 1) 80%);
    color: var(--main--text);
}

.price_plan::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin-bottom: 15px;
    height: 25px;
}

.plan_1::after {
    background: linear-gradient(121deg, rgba(235, 103, 65, 1) 10%, rgba(16, 33, 151, 1) 80%);
}



.plan_3::after {
    background: linear-gradient(274deg, rgba(235,103,65,1) 11%, rgba(5,6,8,1) 80%);
}

.price_plan #title {
    font-weight: bold;
    font-size: 40px;
}

.price_plan #description {
    font-weight: 600;
}

.price_plan ul {
    padding-right: 30px;
    list-style: none;
}

.price_plan ul li {
    margin-block: 15px;
}

.price_plan button {
    background-color: var(--main--text);
    color: var(--text);
    font-weight: 600;
    padding-inline: 35px;
    border-radius: 18px;
    transition: ease 0.3s;
}

.price_plan button:hover {
    background-color: var(--main);
    color: var(--main--text);
}